<html>
  
  <head>
    <title>Chatão - Botpress - <%=fruta%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/stilo.css">
  </head>

  <body>
    <div class="chat-column">
      <div id="chat"></div>
      <label for="textInput" class="inputOutline">
        <input id="textInput" class="input responsive-column" autofocus placeholder="Escreva algo, digite ENTER..." type="text">
      </label>
    </div>
    <script src="/js/scripto.js"></script>
  </body>

</html>